body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px; /* 最大幅を設定 */
    margin: 0 auto;
    overflow: hidden;
    padding: 0 30px; /* 左右にパディングを追加 */
}

header {
    background: #50b3a2;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

header .note {
    text-align: center;
    font-size: 15px;
    margin: 10px 0 0 0;
}

form {
    background: #ffffff;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* フォームの最大幅を設定 */
    margin: 30px auto; /* 中央揃え */
}

form label {
    display: block;
    margin-bottom: 5px; /* ラベルの下にスペースを追加 */
    margin-top: 20px; /* ラベルの上にスペースを追加 */
}

form .center-label {
    text-align: center;
    margin-top: 40px; /* ラベルの上にスペースを追加 */
}

form .bold-label {
    font-weight: bold;
    font-size: 20px;
}

form input[type="text"],
form input[type="password"],
form input[type="file"],
form input[type="number"],
form select,
form textarea {
    width: calc(100% - 20px); /* 入力欄の幅を設定し、左右に余白を追加 */
    padding: 10px;
    margin-bottom: 20px; /* フォーム要素の下にスペースを追加 */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px; /* 左右のバランスを取るために左にマージンを追加 */
    margin-right: 10px; /* 左右のバランスを取るために右にマージンを追加 */
}

form textarea {
    height: 150px; /* テキストエリアの高さを設定 */
}

.button-container {
    text-align: center; /* ボタンを中央揃えにする */
    margin-top: 20px; /* 上にマージンを追加 */
}

form input[type="submit"] {
    display: inline-block;
    width: 200px; /* ボタンの幅を設定 */
    padding: 10px;
    background: #50b3a2;
    color: #ffffff;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    margin: 10px; /* ボタンの間にスペースを追加 */
    text-align: center;
}

form input[type="submit"]:hover {
    background: #45a095;
}

.error {
    color: red;
    margin-top: 10px;
}

.category-container {
    display: flex;
    justify-content: space-between; /* カテゴリ間のスペースを均等に */
    margin-bottom: 20px;
}
.category {
    text-align: center;
    flex: 1; /* 各カテゴリの幅を均等に */
    margin: 0 10px; /* 各カテゴリの左右に余白を追加 */
}
.category img {
    width: 200px !important; /* アイコンのサイズを強制的に調整 */
    height: 200px !important; /* 高さも指定 */
    display: block;
    margin: 0 auto;
}
.radio-buttons {
    margin-top: 10px;
}
.radio-buttons label {
    display: block;
}
